*{
    margin:0;
}

.nav{
    /* background-color: black; */
    height: 90px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.nav_text{
    color: white;
    font-size: 30px;
    font-weight: 700;
}
.logo{
    height: 80px;
    width: 110px;
}
.logout{
    color: red;
    font-size: 45px;
    font-weight: 700;
    display: flex;
    margin: 40px;
    justify-content: right;
    cursor: pointer;
}
.login_button{
    color: rgb(0, 255, 64);
    font-size: 45px;
    font-weight: 700;
    display: flex;
    margin: 40px;
    justify-content: right;
    cursor: pointer; 
}
.home h1{
    margin-top: 300px;
    text-align: center;
}