*{
    margin:0;
}
.womens{
    background-color: #e2e7e6;
}
.womens h1{
    padding: 20px;
}
.womens-box{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.womens-box-child{
    background-color: white;
    width: 21%;
    /* border: 2px solid black; */
    height: 400px;
    margin-bottom: 20px;
    border: none;
    padding: 20px;
}
.womens-box-child img{
    height: 75%;
    width: 90%;
    margin: auto;
    cursor: pointer;
    padding: 10px;
}